@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: calc(100vh - 22px);
  width: 100%;
  background: yellow;
  font-family: 'Nova Round', cursive;
}
